.JumboHeader {
	position: relative;
	background-color: #232946;
	color: #fff;

	.particlesJsDiv {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
	}
}

.customShapeDividerTop {
	position: relative;
	background-color: #d4d8f0;
	width: 100%;
	overflow: hidden;
	line-height: 0;
	svg {
		position: relative;
		display: block;
		width: calc(100% + 1.3px);
		height: 70px;

		path {
			fill: #232946;
		}
	}
}
